html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.app_icon {
    border-radius: 90px;
    width: min-content;
    height: min-content;
}

.aut_img {
    border-radius: 35px;
}

#sum_area {
    border-radius: 35px;
    border-style: groove;
    width: 400px;
    height: 700px;
    text-align:center;
}

#index_data {
    width:60%;
}